@use '../variables'
@use '../mixins'

#sidebar
    background-color: variables.$bg-color
    flex: 1 1 0
    border-radius: variables.$container-border-radius
    display: flex
    align-items: center
    flex-direction: column
    text-align: center
    position: relative
    padding-bottom: 3rem 

    img
        max-width: 60%
        border-radius: variables.$container-border-radius
        position: absolute
        top: -3rem
        @media (max-width: 450px)
            max-width: 1000%
        @media (max-width: 705px)
            max-width: 37%

    .nome
        color: variables.$text-color
        font-size: 40px
        margin-top: 8rem
        @media (min-width: 570px)
            margin-top: 5rem
        @media (max-width: 1200px)
            margin-top: 9rem
        @media (min-width: 1300px)
            margin-top: 10rem
        @media (min-width: 1400px)
            margin-top: 11rem
        @media (min-width: 1500px)
            margin-top: 12rem
        @media (min-width: 1700px)
            margin-top: 16rem

    h2
        font-family: variables.$font-sub-titulo
        color: variables.$text-color-sub-titulo
        font-size: 23px

    .title
        color: variables.$text-color-secondary
        font-size: 18px
        padding: 1rem 1rem 1rem 2.5rem
        text-align: left

    .btn
        @include mixins.btn